name: Python application

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: [3.12]
        poetry-version: [1.8.3]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry==${{ matrix.poetry-version }}
          poetry --version

      # Opcional — útil se você quiser garantir que não há cache velho no CI
      - name: Clear Poetry cache COMPLETELY
        run: |
          poetry cache clear . --all || true
          rm -rf ~/.cache/pypoetry || true
          rm -rf ~/.local/share/pypoetry || true
          rm -rf /home/runner/.cache/pypoetry || true

      - name: Install dependencies
        run: poetry install --no-root

      - name: Run tests
        run: poetry run python manage.py test

        #