name: Python application987

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: [3.12]
        poetry-version: [1.8.3]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry==${{ matrix.poetry-version }}
          poetry --version

      - name: Clear Poetry cache COMPLETELY
        run: |
          poetry cache clear . --all
          rm -rf ~/.cache/pypoetry
          rm -rf ~/.local/share/pypoetry
          rm -rf /home/runner/.cache/pypoetry

      - name: Install dependencies
        run: poetry install --no-root

      - name: Run tests
        run: poetry run python manage.py test